@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Caprasimo&display=swap');
body{
    background-color: whi;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Caprasimo',sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none ;
    height: 65px;
    background-color: rgb(0, 0, 0);
    color: white;
}
nav ul li{
    padding: 0 12px;

}
.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh;
    background-color: black;
    color:white;
    font-family:'Times New Roman', Times, serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    background-image: url('https://i.pinimg.com/1200x/10/e9/c3/10e9c35a513d171bb04b0a3791ce4552.jpg') width= "200px";

}

.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
}

#myprogressbar{
    width: 80vw;
    cursor: pointer;
}

.songitemcontainer{
    margin-top: 74px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    width: 80%;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;

}

.timestamp{
    margin: 0 23px;
}
.timestamp i{
    cursor:pointer;
}

.songinfo{
    position:absolute;
    left: 10vw;
}

